@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Payspace Demo -@@plasticruler</h1>
    <ul>
        <li>Great, a sqlite file called payspace.db has been created and seeded with required data. Use a sqlite browser if you need to look at the persistent data.</li>
        <li>You don't need to log in to peform tax calculations. But you do if you want to update the tax table.</li>
        <li>Valid logins are zizek@test.com, lakan@test.com and plato@test.com Password is "password"</li>
        <li>Once logged in, when the tax calculation is saved the user id is associated to the user.</li>
        <li>Only users lacan and zizek can update the tax table, and only user lacan can view the tax calculation logs.</li>
        <li>Final authorization is granted by the API, so even if the UI is somehow hacked to display pages it's not meant to, the user's roles are checked against the encrypted json token on the API.</li>
        <li>The API Swagger page has a lot more functionality the UI does not, but you need to first generate a token and use the token in a client such as Postman to authenticate and authorize your calls. The UI is just a thin client calling the API. Apart from some Domain class knowledge used for display purposes, it knows nothing about the tax calculators or how they work.</li>
    </ul>
</div>
